  /* Basic Odyssey Reset */
  @font-face {font-family:Whyte;font-style:normal;font-weight:400;src:url(https://ok3static.oktacdn.com/font/ABCWhyte-Book.woff) format("woff")}@font-face{font-family:Whyte;font-style:italic;font-weight:400;src:url(https://ok3static.oktacdn.com/font/ABCWhyte-BookItalic.woff) format("woff")}@font-face{font-family:Whyte;font-style:normal;font-weight:600;src:url(https://ok3static.oktacdn.com/font/ABCWhyte-Medium.woff) format("woff")}@font-face{font-family:Whyte;font-style:italic;font-weight:600;src:url(https://ok3static.oktacdn.com/font/ABCWhyte-MediumItalic.woff) format("woff")}

  html {
    font-size: 87.5%;
    background: var(--docs-page-bg,#fff);
    color: var(--docs-text-body,#1d1d21);
    font-family: Whyte,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  }

  * { box-sizing: border-box; }

  body {
    margin:0;
    color: var(--docs-text-body,#1d1d21);
    cursor: auto;
    font-family: Whyte,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.71429;
    font-feature-settings: 'lnum', 'pnum';
  }

  /* Custom styles for this page */
  .emoji {
    font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
    margin-right: 6px;
  }

  main {
    width: 100%;
    margin: 0 auto;
    padding: $spacing-xl $spacing-xl;
    max-width: 1400px;
  }

  .page-header {
    padding-bottom: $spacing-m;
  }

  .summary {
    font-size: ms(1);
  }

  .is-demo-toast {
    display: block;
    margin-bottom: 1rem;
  }

  .lede {
    font-size: $size-title-4;
  }


  .toc {
    margin: 0 0 0 $spacing-m;
    .title {
      padding: 0 0 0 $spacing-s;
      margin-bottom: $spacing-m;
    }
    nav {
      position: sticky;
      top:$spacing-s;
      padding: $spacing-l;

      ul {
        padding: 0;
        li {
          list-style-type: none;
          margin-bottom: $spacing-xs;
          a {
            width: 220px;
            font-size: ms(1);
            padding: 0 $spacing-m 0 $spacing-s;
            display: block;
            text-decoration: none;
            color: cv('gray', '900');

            &:focus {
              @include outline();
              background: cv('blue', '000');
              color: cv('blue', '900');
            }

            &:hover {
              background: cv('blue', '000');
              color: cv('blue', '900');
            }
          }
        }
      }
    }

    .toc--list {
      display:grid;
      grid-template-columns: 1fr 1fr;
    }
  }




  .layout {
    display:flex;
  }
